<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-left p-3" style="background:linear-gradient(.25turn, #ef0b77, #8f19ba); color: white;">
        © Membre de <b>MasterGroup</b>
        <p>Maurice • Réunion • Madagascar • Mayotte • Antilles • Guyanne</p>
    </div>
    <!-- Copyright -->
</footer>