<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
    <div class="container-fluid">
        <div class="container-fluid bg-dark text-light p-5">
            <div class="container bg-dark p-5">
                <h1 class="display-4">KLAK - clients</h1>
                <p>Xxxxxx.</p>
                <p>Xxxxxx.</p>
                <p>Xxxxxx.</p>
                <hr>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
</body>

</html>