<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
    
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center mb-2">
                <p><b>KLAK - contacts</b></p>
            </h1>
        </div>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>

</html>